.container-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.container-content > section:first-child {
    border-right: var(--border);
}
.sectionbreak {
    border-bottom: var(--border);
    margin: 1em 0;
}

.listitem {
    cursor: pointer;
    padding: .5em;
    margin: .5em;
    border-radius: 5px;
    border: 1px solid transparent;
}
.listitem:hover {
    border: var(--border);
}

.preview-box {
    border-top: var(--border);
    padding: 1em;
}
.preview-box h2 {
    text-align: center;
}