.container-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.container-content > section:first-child {
    border-right: var(--border);
}
.sectionbreak {
    border-bottom: var(--border);
    margin: 1em 0;
}

.list-menu {
    display: flex;
    flex-direction: column;
}
.listitem {
    cursor: pointer;
    padding: .5em;
    margin: 0 .5em;
    border-radius: 5px;
    border: 1px solid transparent;
    background: transparent;
    display: block;
    font-size: 1rem;
    text-align: left;
}
.listitem:nth-child(1) {
    margin-top: .5em;
}
.listitem:hover {
    border: var(--border);
}

.preview-box {
    border-top: var(--border);
    padding: 1em;
}
.preview-box h2 {
    text-align: center;
}