.available {
    fill: green;
    background-color: green;
}
.available:hover, .available:focus {
    fill: darkgreen;
    background-color: darkgreen;
}
.booked {
    fill: red;
    background-color: red;
}
.booked:hover, .booked:focus {
    fill: darkred;
    background-color: darkred;
}
.booked-by-user {
    fill: orange;
    background-color: orange;
}
.booked-by-user:hover, .booked-by-user:focus {
    fill: darkorange;
    background-color: darkorange;
}

select {
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

optgroup {
    font-size: 1rem;
}

.layout-parent {
    position: relative;
    height: 500px;
    width: 700px;
    overflow: hidden;
    margin: auto;
}
#move-object {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 700px;
    height: 500px;
    background-color: blue;
}

.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal > div {
    background-color:white;
    border-radius: 10px;
    padding: 0;
}
.modal-content {
    padding: 0 1em 1em 1em;
    text-align: center;
}
