<div class="navbar">
    <NavLink href="" Match="NavLinkMatch.All" title="Home">Seats App</NavLink>
    <section class="nav-links">
        <NavLink href="admin" title="Admin Settings">
            <i class="bi bi-shield-lock"></i>
        </NavLink>
        <NavLink href="user" title="Account">
            <i class="bi bi-person-circle"></i>
        </NavLink>
        <NavLink href="login" title="Login">Login</NavLink>
    </section>
</div>

@code {

}
