<div class="navbar">
    <NavLink href="" Match="NavLinkMatch.All" title="Home" tabindex="0">Seats App</NavLink>
    <section class="nav-links">
        <NavLink href="admin" title="Admin Settings" tabindex="0">
            <i class="bi bi-shield-lock"></i>
        </NavLink>
        <NavLink href="user" title="Account" tabindex="0">
            <i class="bi bi-person-circle"></i>
        </NavLink>
        <NavLink href="login" title="Login" tabindex="0">Login</NavLink>
    </section>
</div>

@code {

}
